.btn-close {
  padding: $btn-close-padding-y $btn-close-padding-x;
  border: 0;
  color: var(--text-color);
  background: transparent;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    user-select: none;
  }
}