%alert-common-properties {
  border-radius: 8px;
  padding: 12px;
  display: grid;
  grid-template-areas:
    'svg body'
    'actions actions';
  grid-template-columns: auto 1fr;
  svg {
    margin-inline-end: 8px;
    margin-block-start: 2px;
    grid-area: svg;
  }
  .body {
    grid-area: body;
  }
  .actions {
    grid-area: actions;
    margin-block-start: 8px;
    text-align: right;
  }
}

.alert-danger {
  @extend %alert-common-properties;
  background-color: var(--md-sys-color-error-container);
  color: var(--md-sys-color-on-error-container);
  svg {
    color: var(--md-sys-color-error);
  }
}

.alert-info {
  border-radius: 8px;
  padding: 12px;
  background-color: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface);
}

.alert-warning {
  @extend %alert-common-properties;
  background-color: var(--md-sys-color-surface);
  svg {
    color: var(--md-sys-color-warning);
  }
}

.alert-all-checked {
  text-align: center;
}

.alert-all-checked + .table-responsive {
  margin-block-start: 8px;
}