.width-enter-active,
.width-leave-active {
  transition: width 0.3s ease;
}

.width-enter-from,
.width-leave-to {
  width: 0 !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.height-enter-active,
.height-leave-active {
  transition: height 0.3s ease;
}

.height-enter-from,
.height-leave-to {
  height: 0 !important;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.skeleton-text, .skeleton-checkbox {
  background-color: var(--md-sys-color-surface-container);
  border-radius: 4px;
}

.skeleton-image {
  background-color: var(--md-sys-color-surface-container);
  border-radius: 8px;
}

.skeleton-checkbox {
  width: 20px;
  height: 20px;
  margin: 14px;
}

.skeleton-checkbox,
.skeleton-image,
.skeleton-text {
  background: linear-gradient(
    to right,
    var(--md-sys-color-surface-container) 0%,
    var(--md-sys-color-surface-container-highest) 20%,
    var(--md-sys-color-surface-container) 40%,
    var(--md-sys-color-surface-container) 100%
  );
  background-size: 1000px 100%;
  animation: shimmer 3s ease-in-out infinite;
}

.selectable-card-skeleton {
  background: var(--md-sys-color-surface-container-low);
  cursor: default !important;
  .skeleton-text {
    background-color: var(--md-sys-color-surface-container-high);
  }

  .skeleton-image {
    background-color: var(--md-sys-color-surface-container-high);
  }
  .skeleton-image,
  .skeleton-text {
    background: linear-gradient(
      to right,
      var(--md-sys-color-surface-container-high) 0%,
      var(--md-sys-color-surface-container-highest) 20%,
      var(--md-sys-color-surface-container-high) 40%,
      var(--md-sys-color-surface-container-high) 100%
    );
  }
}
