.audio-list .media-item {
  display: grid;
  border-radius: 8px;
  margin-inline: 16px;
  grid-template-areas:
    'start image title actions artist time'
    'start image subtitle  actions artist time';
  grid-template-columns: 48px 50px 2fr 240px minmax(64px, 1fr) minmax(140px, auto);
  &:hover {
    cursor: pointer;
  }
  .number {
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
  }
  .image {
    width: 50px;
    height: 50px;
    grid-area: image;
    margin-block: 12px;
    text-align: center;
    .svg {
      max-width: 50px;
      max-height: 50px;
    }
  }
  .title {
    grid-area: title;
    font-weight: 500;
    margin-inline: 16px;
    padding-block-start: 12px;
    word-break: break-all;
  }
  .subtitle {
    grid-area: subtitle;
    margin-inline: 16px;
    margin-block-start: 8px;
    margin-block-end: 12px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    font-size: 0.875rem;
  }
  .artist {
    grid-area: artist;
    display: flex;
    align-items: center;
  }
  .list-item-actions {
    grid-area: actions;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    visibility: visible;
    padding-inline: 16px;
  }
  .time {
    grid-area: time;
    display: flex;
    align-items: center;
    padding-inline: 16px;
    justify-content: end;
  }
}

@keyframes rotate-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.playlist-remove-icon {
  color: var(--md-sys-color-error) !important;
  &.rotating {
    animation: rotate-icon 250ms ease-out forwards;
  }
}

.playlist-add-icon {
  color: var(--md-sys-color-primary) !important;
  &.rotating {
    animation: rotate-icon 250ms ease-out forwards;
  }
}