@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/w-400.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/w-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/w-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/w-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/w-800.woff2') format('woff2');
}

:root {
  font-family: 'Noto Sans SC', Roboto, system-ui;
  --md-ref-typeface-brand: 'Noto Sans SC', Roboto, system-ui;
  --md-ref-typeface-plain: 'Noto Sans SC', Roboto, system-ui;
  --md-sys-color-warning: #F57F17;
  --pl-selecting-container-color: rgba(59, 130, 246, 0.3);
  background-color: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface);
  --pl-shape-xl: 28px;
  --pl-shape-l: 16px;
  --pl-shape-m: 12px;
  --pl-shape-s: 8px;
  --pl-shape-xs: 4px;
  --pl-spacing-xl: 28px;
  --pl-top-app-bar-height: 56px;
  --_scrollbar-width: 8px;
  --border-radius-sm: 4px;
  --screen-min-width: 768px;
  /* firefox */
  scrollbar-color: var(--md-sys-color-primary) transparent;
  scrollbar-width: thin;
  scroll-padding-block-start: calc(var(--pl-top-app-bar-height) + var(--pl-top-app-bar-padding-block) * 2);
  &.dark {
    --md-sys-color-warning: #FBC02D;
  }
}

/* Chromium + Safari */
::-webkit-scrollbar {
  background-color: transparent;
  width: var(--_scrollbar-width);
}

::-webkit-scrollbar-thumb {
  background-color: var(--md-sys-color-primary);
  border-radius: calc(var(--_scrollbar-width) / 2);
}

::slotted(*) {
  --md-list-item-container-shape: var(--pl-shape-xl);
  --md-focus-ring-shape: var(--pl-shape-xl);
}

@media screen and (max-width: 600px) {
  :root {
    /* Mostly to accommodate content padding on small screens */
    --pl-spacing-xl: 16px;
  }
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  line-height: 1.5;
}

a {
  color: var(--md-sys-color-primary);
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus-visible {
  text-decoration: underline;
}

pre {
  font-family: inherit;
  line-height: 1.5;
  margin: 0;
  white-space: pre-wrap;
  font-size: 1rem;
  word-break: break-all;
}

.tooltip {
  position: absolute;
  text-align: center;
  background-color: var(--md-sys-color-on-surface);
  color: var(--md-sys-color-surface);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.nowrap {
  word-break: keep-all;
  white-space: nowrap;
}