body {
  --md-menu-item-one-line-container-height: 48px;
  --md-menu-item-selected-container-color: var(--md-sys-color-surface-container-highest);
}

md-dialog {
  min-width: 360px;
}

md-outlined-select::part(menu) {
  max-height: 50vh;
  z-index: 999;
}

md-chip-set {
  align-items: center;
}

md-menu::part(list) {
  max-height: 50vh;
}

md-outlined-button.btn-sm,
md-filled-button.btn-sm {
  --_label-text-size: 0.75rem;
  height: 32px;
  --_container-height: 32px;
  --_leading-space: 16px;
  --_trailing-space: 16px;
}

md-outlined-button.btn-lg,
md-filled-button.btn-lg {
  --_label-text-size: 1rem;
  --_container-height: 56px;
  height: 56px;
  --_leading-space: 24px;
  --_trailing-space: 24px;
}

md-checkbox {
  border-radius: 4px;
}

md-outlined-segmented-button-set.sm {
  --_container-height: 32px;
  md-outlined-segmented-button {
    --_label-text-size: 0.75rem;
  }
}


.btn-icon {
  md-circular-progress {
    --md-circular-progress-size: 26px;
    --md-circular-progress-active-indicator-width: 16;
  }
}


md-filled-button {
  md-circular-progress {
    --md-circular-progress-size: 18px;
    --md-circular-progress-active-indicator-width: 16;
    --_active-indicator-color: var(--md-sys-color-on-primary);
  }
}