md-dialog {
    min-width: 360px;
}

md-outlined-select::part(menu) {
    max-height: 50vh;
    z-index: 999;
}

md-menu::part(list) {
    max-height: 50vh;
}

md-chip-set {
    display: flex;
    gap: 8px;
    margin-block-end: 16px;
    flex-wrap: wrap;

    md-filter-chip {
        padding-block: 8px;
    }
}

.icon-button+md-outlined-button {
    margin-inline-start: 8px;
}

md-outlined-button+md-outlined-button {
    margin-inline-start: 8px;
}

md-menu-item.selected::part(ripple) {
    background-color: var(--md-sys-color-surface-container-highest);
  }