.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
  gap: 4px;
  margin-block-end: 24px;

  .media-item {
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    transition: padding 0.3s ease-in-out;
    .actions {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      padding: 4px;
      background: var(--md-sys-color-secondary-container);
      z-index: 1;
      border-radius: 8px 8px 0 0;
      transition: display 0.3s;
      .btn-icon {
        color: var(--md-sys-color-on-secondary-container);
      }
    }
    &:hover {
      .actions {
        display: flex;
      }
    }
    &.selected {
      padding: 16px;
      .btn-checkbox {
        color: var(--md-sys-color-primary);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        /* Add white background to the svg icon */
        &::before {
          content: '';
          position: absolute;
          width: 20px;
          height: 20px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          background: #fff;
          z-index: -1;
        }
      }
    }
    &.selecting::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(59, 130, 246, 0.4);
      border-radius: 8px;
      z-index: 1;
    }
    &.selecting {
      .btn-checkbox {
        color: var(--md-sys-color-primary);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
      }
    }
  }

  &.select-mode {
    .media-item {
      .actions {
        display: flex;
      }
    }
  }

  .btn-checkbox {
    margin-inline-end: auto;
  }

  .info {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    padding: 4px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 0 0 8px 8px;
    align-items: center;
    justify-content: end;
    .tags {
      width: 0;
      flex: 1;
      a {
        color: #fff;
        font-size: 12px;
      }
    }
    .right {
      color: #fff;
      font-size: 12px;
    }
  }
}

.media-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 8px;
  .media-item {
    display: grid;
    border-radius: 8px;
    grid-template-areas:
      'checkbox image right actions'
      'number image right actions';
    grid-template-columns: auto 64px 1fr 48px;
    &:hover {
      cursor: pointer;
    }
    .checkbox {
      grid-area: checkbox;
    }
    .number {
      grid-area: number;
      margin-block-end: 8px;
      font-size: 0.75rem;
      justify-content: center;
      display: flex;
      align-items: end;
    }
    .image {
      width: 64px;
      height: 64px;
      grid-area: image;
      object-fit: cover;
      border-radius: 8px;
      margin-block: 12px;
    }
    .right {
      grid-area: right;
      padding: 12px 0 8px 0;
      display: flex;
      flex-direction: column;
      gap: 8px;
      word-break: break-all;
    }
    .title,
    .info {
      margin-inline: 16px;
    }
    .info {
      display: flex;
      gap: 4px;
      flex-wrap: wrap;
      font-size: 0.875rem;
    }
    .actions {
      display: flex;
      grid-area: actions;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2px;
      visibility: hidden;
    }
    &:hover {
      .actions {
        visibility: visible;
      }
    }
  }
}

.no-hover {
  .media-grid .media-item .actions {
    display: flex;
  }
  .media-list .media-item .actions {
    visibility: visible;
  }
}
