.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 24px;
  .btn-icon {
    font-size: 1.125rem;
  }
  .btn-icon.active {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
  }
}
