@media print {
    #header,
    .quick-actions,
    .quick-content,
    .top-app-bar,
    .sidebar,
    .sidebar2 {
        display: none !important;
    }

    .layout, .page-content, .page-content .main {
        height: auto !important;
    }

    .page-content .main {
        margin: 0 !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        padding: 0 !important;
    }
    .md-container {
        padding: 0 !important;
    }
}