@media print {
    #header,
    .quick,
    .quick-content,
    .v-toolbar,
    .sidebar,
    .sidebar2,
    .subtitle {
        display: none !important;
    }

    .layout, .page-content, .page-content .main {
        height: auto !important;
    }

    .page-content .main {
        margin: 0 !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        padding: 0 !important;
    }
    .md-container {
        padding: 0 !important;
    }
}