.selectable-card {
  box-sizing: border-box;
  background: var(--md-sys-color-surface-container-low);
  color: var(--md-sys-color-on-surface);
  &.selecting {
    background: var(--pl-selecting-container-color) !important;
  }
  &.selected {
    background: var(--md-sys-color-surface-container-highest);
  }
  &:hover {
    background: var(--md-sys-color-surface-container-high);
  }
}