table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  text-align: left;
}

// 1. Removes font-weight bold by inheriting
// 2. Matches default `<td>` alignment by inheriting `text-align`.
// 3. Fix alignment for Safari

th {
  text-align: inherit; // 2
  text-align: -webkit-match-parent; // 3
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.table {
  border-color: var(--md-sys-color-outline);
  border-collapse: collapse;
  border-radius: 4px;
  border-style: hidden;
  /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px var(--md-sys-color-outline);
  width: 100%;
  vertical-align: top;

  > :not(caption)>*>* {
    border-bottom-width: 1px;
    word-break: break-all;
  }

  th {
    word-break: keep-all;
    white-space: nowrap;
    padding-block: 0px;
  }

  td {
    vertical-align: middle;
    padding: 4px;

    .tags {
      display: flex;
      flex-wrap: wrap;
    }
  }

  >tbody {
    vertical-align: inherit;
  }

  // Highlight border color between thead, tbody and tfoot.
  > :not(:last-child)> :last-child>* {
    border-bottom-color: var(--md-sys-color-outline);
  }

  tbody tr:hover,
  tr.selected {
    background-color: var(--md-sys-color-on-surface-selected);
  }
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1px;
  margin-bottom: 1.5rem;
}

td {
  .action-btns {
    display: flex;
    align-items: center;
  }
}