@import 'base';
@import 'katex';
@import 'animation';
@import 'card';
@import 'alert';
@import 'md';
@import 'tables';
@import 'audio';
@import 'pagination';
@import 'markdown';
@import 'form';
@import 'chat';
@import 'mobile';
@import 'print';

#app:has(~ .lightbox) {
  display: none;
}

.top-app-bar {
  height: var(--pl-top-app-bar-height);
  display: flex;
  align-items: center;
  padding: 0 16px 0 8px;
  flex: 0 0 auto;

  .title {
    flex: 1;
    margin-inline-start: 8px;
    text-overflow: ellipsis;
  }

  .icon-button + .icon-button {
    margin-inline-start: 8px;
  }

  .actions {
    margin-inline-start: auto;
  }
}

.list-items {
  width: 100%;

  .item {
    display: grid;
    grid-template-areas:
      'title icon'
      'subtitle icon'
      'body body';
    grid-template-columns: 1fr auto;
    padding: 8px 16px;
    position: relative;
    white-space: pre-wrap;
    word-break: break-all;

    .title {
      grid-area: title;
      text-overflow: ellipsis;
      color: var(--md-sys-color-on-surface);
      display: flex;
      align-items: center;
    }

    .subtitle {
      grid-area: subtitle;
      text-overflow: ellipsis;
      color: var(--md-sys-color-on-surface-variant);
      font-size: 0.8rem;
      margin-top: 4px;
    }

    .body {
      grid-area: body;
      text-overflow: ellipsis;
      color: var(--md-sys-color-on-surface-variant);
      font-size: 0.8rem;
      margin-top: 4px;
    }

    .icon {
      grid-area: icon;
    }

    &.selected {
      background-color: var(--md-sys-color-on-surface-selected);
    }
  }
}

.error-container {
  color: var(--md-sys-color-on-error-container);
  background-color: var(--md-sys-color-error-container);
}

.v-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;

  .breadcrumb {
    flex-grow: 1;
  }

  .right-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.v-toast.error {
  color: var(--red-color);
}

.toast-container {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 9999;
  pointer-events: none;
  flex-direction: column;
  margin-top: 32px;
  width: 100%;

  .v-toast {
    align-self: center;
    animation-duration: 0.15s;
    border-radius: 8px;
    pointer-events: auto;
    background-color: var(--md-sys-color-surface);
    cursor: pointer;
    padding: 8px 32px;
    word-break: break-word;
    border: 1px solid currentColor;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 50%;
  }
}

.tap-phone-container {
  position: fixed;
  display: flex;
  width: 500px;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  flex-direction: row;
  margin-top: 16px;
  background-color: var(--md-sys-color-surface);
  animation-duration: 0.15s;
  pointer-events: auto;
  cursor: pointer;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);

  div {
    flex: 1;
    margin-inline-end: 1rem;
    font-size: 1.4rem;
  }

  *:is(svg) {
    width: 120px;
    fill: var(--md-sys-color-primary);
  }
}

.help-block {
  padding: 16px;
}

.inline-edit {
  cursor: pointer;
}

.popper {
  .view-raw {
    padding: 1rem;
    max-width: 40vw;
    white-space: pre-wrap;
    max-height: 50vh;
    margin: 0;
  }
}

.no-data-placeholder {
  text-align: center;
  padding: 40px;
}

.quick-content {
  .no-data {
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .quick-content-main {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column;
    height: 100vh;
  }

  .quick-content-body {
    overflow-y: scroll;
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    background-color: var(--md-sys-color-surface);
    border-top-left-radius: var(--pl-shape-l);
  }
}

.page-content {
  display: flex;
  grid-area: page-content;
  height: calc(100vh - 56px);
  .sidebar {
    width: 240px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    padding-inline-end: 16px;
    transition: width 0.3s ease;

    &.mini {
      width: 56px;
      & + .main {
        margin-inline-start: 0;
      }
      .nav-title .title,
      .nav-title .actions,
      .sidebar-body {
        display: none;
      }
    }
  }

  .main {
    flex: 1;
    width: 0;
    background-color: var(--md-sys-color-surface);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  .main-default {
    padding: 16px 16px 0 16px;
    margin-inline-start: 16px;
    .v-toolbar {
      margin-block-end: 8px;
    }
  }
}

.page-content:has(.sidebar) .main {
  margin-inline-start: 0px;
}

.nav-title {
  font-weight: 600;
  font-size: 1.125rem;
  display: flex;
  padding-inline-start: 8px;
  align-items: center;
  white-space: nowrap;
  .title {
    text-overflow: ellipsis;
    flex: 1;
    width: 0;
    margin-inline-start: 8px;
    overflow: hidden;
  }
  .actions {
    margin-inline-start: auto;
  }
}

.nav {
  list-style: none;
  display: block;
  padding: 0;

  li {
    padding-block: 12px;
    padding-inline: 16px;
    position: relative;
    border-top-right-radius: 56px;
    border-bottom-right-radius: 56px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;

    &.active {
      background-color: var(--md-sys-color-surface-container-highest);
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  border-radius: 8px;

  &:hover {
    cursor: pointer;
  }
}

.blinking-cursor {
  width: 0.5rem;
  height: 1rem;
  display: inline-block;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }

  50% {
    background-color: currentColor;
  }
}

@keyframes showDiv {
  0% {
    opacity: 0;
  } /* Initial opacity */
  50% {
    opacity: 0;
  } /* Stay hidden for the first 50% of animation */
  100% {
    opacity: 1;
  } /* Fade in to full opacity */
}

.spinner-sm {
  --md-circular-progress-size: 32px;
  --md-circular-progress-active-indicator-width: 14;
}

.v-center {
  display: flex;
  align-items: center;
}

.invalid-feedback {
  color: var(--md-sys-color-error);
}

.filters {
  padding: 16px;
  width: 280px;

  md-outlined-text-field {
    width: 100%;
  }

  .buttons {
    text-align: right;
  }

  .form-label {
    margin-block-end: 8px;
  }
}

.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 4px;

  .item {
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
  }

  .checkbox {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin: 12px;
    --md-checkbox-outline-color: #fff;
    --_hover-outline-color: #fff;
  }

  .duration {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 12px;
    padding: 1px 4px;
  }
}

.icon-button.selected {
  color: var(--md-sys-color-primary);
}

.btn-fullscreen-top-right {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  &::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 68px;
    height: 68px;
    border-radius: 0 0 0 100%;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.scroller .footer {
  text-align: center;
  padding: 16px;
}
