@import "base";
@import "katex";
@import "md";
@import "tables";
@import "audio";
@import "pagination";
@import "markdown";
@import "badge";
@import "form";
@import "splitpanes";
@import "chat";


.top-title {
  display: flex;
  align-items: center;
  padding: 0 16px;
  flex: 0 0 auto;
  font-size: 0.875rem;
  text-overflow: ellipsis;

  >div:first-child {
    flex: 1;
  }

  .icon-button + .icon-button {
    margin-inline-start: 8px;
  }
}

.list-items {
  .item {
    display: grid;
    grid-template-areas:
      'title icon'
      'subtitle icon';
    grid-template-columns: 1fr auto;
    padding: 8px 16px;
    position: relative;
    white-space: pre-wrap;
    word-break: break-all;

    .title {
      grid-area: title;
      text-overflow: ellipsis;
      color: var(--md-sys-color-on-surface);
      display: flex;
      align-items: center;
    }

    .subtitle {
      grid-area: subtitle;
      text-overflow: ellipsis;
      color: var(--md-sys-color-on-surface-variant);
      font-size: 0.8rem;
      margin-top: 4px;
    }

    .icon {
      grid-area: icon;
    }

    &.selected {
      background-color: var(--md-sys-color-on-surface-selected);
    }
  }
}

.error-container {
  color: var(--md-sys-color-on-error-container);
  background-color: var(--md-sys-color-error-container);
}

%alert-common-properties {
  border-radius: 8px;
  padding: 16px;
}

.alert-danger {
  @extend %alert-common-properties;
  background-color: var(--md-sys-color-error-container);
  border: 1px solid var(--md-sys-color-on-error-container);
  color: var(--md-sys-color-on-error-container);
}

.alert-info {
  @extend %alert-common-properties;
  background-color: var(--md-sys-color-surface-container-lowest);
  border: 1px solid var(--md-sys-color-outline);
  color: var(--md-sys-color-on-surface);
}

.v-toolbar + .alert-info {
  margin-block-end: 16px;
}

.alert-all-checked {
  text-align: center;
}

.v-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;

  .breadcrumb {
    flex-grow: 1;
  }

  .right-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.v-toast.error {
  color: var(--red-color);
}

.toast-container {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 9999;
  pointer-events: none;
  flex-direction: column;
  margin-top: 16px;
  width: 100%;

  .v-toast {
    align-self: center;
    animation-duration: 0.15s;
    border-radius: 8px;
    pointer-events: auto;
    background-color: var(--md-sys-color-surface);
    cursor: pointer;
    padding: 8px 32px;
    word-break: break-word;
    border: 1px solid currentColor;
    max-width: 50%;
  }
}

.help-block {
  padding: 16px;
}

.inline-edit {
  cursor: pointer;
}

.popper {
  .view-raw {
    padding: 1rem;
    max-width: 40vw;
    white-space: pre-wrap;
    max-height: 50vh;
    margin: 0;
  }
}


.no-data-placeholder {
  text-align: center;
  padding: 40px;
}


.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-container {
  &>.splitpanes {
    .sidebar {
      padding-inline-end: 16px;
      height: calc(100vh - 64px);
      box-sizing: border-box;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  .main {
    margin-inline-end: 1px;
    background-color: var(--md-sys-color-surface);
    border-top-left-radius: var(--plain-shape-l);
    border-top-right-radius: var(--plain-shape-l);
    padding: var(--plain-spacing-xl) var(--plain-spacing-xl) 0 var(--plain-spacing-xl);
    box-sizing: border-box;
    height: calc(100vh - 64px);
    overflow-y: auto;
  }

  &>.main {
    margin-inline-start: 16px;
  }
}

.nav-title {
  font-weight: 600;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 16px;
  align-items: center;
}

.nav {
  list-style: none;
  display: block;
  padding: 0;

  li {
    padding-block: 18px;
    padding-inline: 16px;
    position: relative;
    border-top-right-radius: 56px;
    border-bottom-right-radius: 56px;
    word-wrap: break-word;
    user-select: none;

    &.active {
      background-color: var(--md-sys-color-surface-container-highest);
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);

  &:hover {
    cursor: pointer;
  }
}



.blinking-cursor {
  width: 0.5rem;
  height: 1rem;
  display: inline-block;
  animation: 1s blink step-end infinite;
}

@keyframes blink {

  from,
  to {
    background-color: transparent;
  }

  50% {
    background-color: currentColor;
  }
}

.spinner-sm {
  --md-circular-progress-size: 32px;
  --md-circular-progress-active-indicator-width: 14;
}

.v-center {
  display: flex;
  align-items: center;
}

.invalid-feedback {
  color: var(--md-sys-color-error);
}

.filters {
  padding: 16px;

  md-outlined-text-field {
    width: 100%;
  }

  .buttons {
    text-align: right;
  }

  .form-label {
    margin-block-end: 8px;
  }
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .item {
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
  }

  .duration {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 12px;
    padding: 1px 4px;
  }
}